.menu-toggle {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: .75rem .5rem;

  // Makes the button stay in place when scrolling the page
  &[aria-expanded="true"]{
    position: fixed;
    right: 1rem;

    @media only screen and (min-width: 34.375em) {
      right: 3.5rem;
    }
  }

  z-index: 100;

  @media only screen and (min-width: 37.5em) {
    display: none; }
}


.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #101010;
  height: 3px;
  width: 2.5rem;
  transition: all ease-in-out 250ms;
}

.hamburger::before {
  transform: translateY(-12px); // 6px
}

.hamburger::after {
  transform: translateY(8px); // 3px
}

[aria-expanded="true"] .hamburger {
  transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}