.header {
  padding-block: clamp(1.75rem, 5vw, 3rem);
}

.logo {
  width: min(25vw, 3rem);
  cursor: pointer;
}

.page-mask {
  &.active {
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    transition: 0.15s ease-in-out;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background-color: $clr-neutral-100;
    width: 100%;
    padding: 2rem 1.5rem;
    transition: 0.3s;

    &.active {
      right: -31%;
      z-index: 50;
    }
  }

  &__item {
    padding: $fs-400 0;

    &:first-child {
      margin-top: 6rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $clr-neutral-900;
      font-size: $fs-550;
    }

    &:hover,
    &:active {
      color: $clr-primary-400;
    }
  }
}

// 600px - 37.5em, 700px - 43.75em
@media only screen and (min-width: 37.5em) {
  .navigation {
    &__list {
      display: flex;
      position: static;
      right: 0;
      height: auto;
      padding: 0;
      width: auto;
    }

    &__item {
      &:first-child {
        margin: 0;
      }
    }

    &__link {
      margin-left: 2rem;
      &:link,
      &:visited {
        color: $clr-neutral-700;
        font-size: $fs-450;
      }

      &:hover,
      &:active {
        color: $clr-primary-400;
      }
    }
  }
}